n8n-workflows/01-lead-created-telegram.json
{
  "name": "Lead Created - Telegram Notification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-created",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Lead Created",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $json.artisan_telegram_id || '1112935801' }}",
        "text": "=🚨 **Nouveau Lead !**\n\n📍 **Ville:** {{ $json.city }}\n🔧 **Type:** {{ $json.urgency_type }}\n📝 **Description:** {{ $json.description }}\n\n💰 **1 crédit sera débité si vous acceptez**\n\n👉 Connectez-vous pour voir les détails",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-send",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [500, 300],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Notification sent' }) }}"
      },
      "id": "respond",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Webhook Lead Created": {
      "main": [
        [
          {
            "node": "Send Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
