n8n-workflows/lead-created-cascade.json
{
  "name": "[PlombierUrgent] Lead Created - Cascade",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-created",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Lead Created",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "lead-created"
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "lead-id",
              "name": "leadId",
              "value": "={{ $json.leadId }}",
              "type": "string"
            },
            {
              "id": "client-name",
              "name": "clientName",
              "value": "=Client",
              "type": "string"
            },
            {
              "id": "phone",
              "name": "phone",
              "value": "={{ $json.phone }}",
              "type": "string"
            },
            {
              "id": "problem-type",
              "name": "problemType",
              "value": "={{ $json.urgencyType }}",
              "type": "string"
            },
            {
              "id": "address",
              "name": "clientCity",
              "value": "={{ $json.address }}",
              "type": "string"
            },
            {
              "id": "description",
              "name": "description",
              "value": "={{ $json.description }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "set-variables",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://plombier-urgent.vercel.app/api/n8n/callback",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ action: 'find_artisan', params: { lead_id: $json.leadId } }) }}",
        "options": {}
      },
      "id": "find-artisan-1",
      "name": "Find Artisan #1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Y5ChCuhYe5dOVFsO",
          "name": "N8N Callback Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "artisan-found",
              "leftValue": "={{ $json.data.artisan.artisan_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "if-artisan-found-1",
      "name": "Artisan Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://plombier-urgent.vercel.app/api/n8n/callback",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ action: 'create_assignment', params: { lead_id: $('Set Variables').item.json.leadId, artisan_id: $('Find Artisan #1').item.json.data.artisan.artisan_id, cascade_order: 1 } }) }}",
        "options": {}
      },
      "id": "create-assignment-1",
      "name": "Create Assignment #1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Y5ChCuhYe5dOVFsO",
          "name": "N8N Callback Auth"
        }
      }
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "assignment-id",
              "name": "assignmentId",
              "value": "={{ $json.data.assignment_id }}",
              "type": "string"
            },
            {
              "id": "artisan-id",
              "name": "artisanId",
              "value": "={{ $('Find Artisan #1').item.json.data.artisan.artisan_id }}",
              "type": "string"
            },
            {
              "id": "telegram-chat-id",
              "name": "telegramChatId",
              "value": "={{ $('Find Artisan #1').item.json.data.artisan.telegram_chat_id }}",
              "type": "string"
            },
            {
              "id": "artisan-name",
              "name": "artisanName",
              "value": "={{ $('Find Artisan #1').item.json.data.artisan.artisan_name }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "set-artisan-1",
      "name": "Set Artisan Data #1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "jsCode": "// Generer URL d'acceptation simple (sans JWT pour simplifier)\nconst setVars = $('Set Variables').first().json;\nconst artisan = $('Set Artisan Data #1').first().json;\n\n// URL de production Vercel\nconst baseUrl = 'https://plombier-urgent.vercel.app';\nconst acceptUrl = `${baseUrl}/api/lead/accept-simple?assignmentId=${artisan.assignmentId}&artisanId=${artisan.artisanId}`;\n\nreturn {\n  ...artisan,\n  acceptUrl,\n  leadId: setVars.leadId,\n  problemType: setVars.problemType,\n  description: setVars.description,\n  clientCity: setVars.clientCity\n};"
      },
      "id": "code-build-message-1",
      "name": "Build Message Data #1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 200]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $json.telegramChatId }}",
        "text": "=\ud83d\udea8 *NOUVEAU LEAD URGENT*\n\n\ud83d\udccd *Type:* {{ $json.problemType }}\n\ud83c\udfd9\ufe0f *Ville:* {{ $json.clientCity }}\n\n\ud83d\udcdd *Description:*\n{{ $json.description }}\n\n\u23f1\ufe0f Vous avez *2 minutes* pour accepter ce lead.\n\n\ud83d\udcb0 *1 credit sera debite* si vous acceptez.\n\n\ud83d\udc49 [ACCEPTER CE LEAD]({{ $json.acceptUrl }})",
        "replyMarkup": "none",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-send-1",
      "name": "Send Telegram #1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1540, 200],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "id": "wait-1",
      "name": "Wait 2 min #1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1760, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://plombier-urgent.vercel.app/api/n8n/callback",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ action: 'check_lead_status', params: { lead_id: $('Set Variables').item.json.leadId } }) }}",
        "options": {}
      },
      "id": "check-status-1",
      "name": "Check Lead Status #1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1980, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Y5ChCuhYe5dOVFsO",
          "name": "N8N Callback Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "is-accepted",
              "leftValue": "={{ $json.data.is_accepted }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "if-accepted-1",
      "name": "Lead Accepted? #1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2200, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://plombier-urgent.vercel.app/api/n8n/callback",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ action: 'expire_assignment', params: { assignment_id: $('Set Artisan Data #1').item.json.assignmentId } }) }}",
        "options": {}
      },
      "id": "expire-assignment-1",
      "name": "Expire Assignment #1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2420, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Y5ChCuhYe5dOVFsO",
          "name": "N8N Callback Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://plombier-urgent.vercel.app/api/n8n/callback",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ action: 'find_artisan', params: { lead_id: $('Set Variables').item.json.leadId } }) }}",
        "options": {}
      },
      "id": "find-artisan-2",
      "name": "Find Artisan #2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2640, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Y5ChCuhYe5dOVFsO",
          "name": "N8N Callback Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "artisan-found-2",
              "leftValue": "={{ $json.data.artisan.artisan_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "if-artisan-found-2",
      "name": "Artisan #2 Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2860, 300]
    },
    {
      "parameters": {},
      "id": "no-more-artisans",
      "name": "No Artisans Available",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [3080, 500]
    },
    {
      "parameters": {},
      "id": "lead-accepted-end",
      "name": "Lead Accepted - End",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2420, 100]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "update-status",
              "name": "status",
              "value": "unassigned",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "mark-unassigned",
      "name": "Mark Unassigned",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [3300, 500],
      "notesInFlow": true,
      "notes": "TODO: Update lead status in DB"
    }
  ],
  "connections": {
    "Webhook Lead Created": {
      "main": [[{"node": "Set Variables", "type": "main", "index": 0}]]
    },
    "Set Variables": {
      "main": [[{"node": "Find Artisan #1", "type": "main", "index": 0}]]
    },
    "Find Artisan #1": {
      "main": [[{"node": "Artisan Found?", "type": "main", "index": 0}]]
    },
    "Artisan Found?": {
      "main": [
        [{"node": "Create Assignment #1", "type": "main", "index": 0}],
        [{"node": "No Artisans Available", "type": "main", "index": 0}]
      ]
    },
    "Create Assignment #1": {
      "main": [[{"node": "Set Artisan Data #1", "type": "main", "index": 0}]]
    },
    "Set Artisan Data #1": {
      "main": [[{"node": "Build Message Data #1", "type": "main", "index": 0}]]
    },
    "Build Message Data #1": {
      "main": [[{"node": "Send Telegram #1", "type": "main", "index": 0}]]
    },
    "Send Telegram #1": {
      "main": [[{"node": "Wait 2 min #1", "type": "main", "index": 0}]]
    },
    "Wait 2 min #1": {
      "main": [[{"node": "Check Lead Status #1", "type": "main", "index": 0}]]
    },
    "Check Lead Status #1": {
      "main": [[{"node": "Lead Accepted? #1", "type": "main", "index": 0}]]
    },
    "Lead Accepted? #1": {
      "main": [
        [{"node": "Lead Accepted - End", "type": "main", "index": 0}],
        [{"node": "Expire Assignment #1", "type": "main", "index": 0}]
      ]
    },
    "Expire Assignment #1": {
      "main": [[{"node": "Find Artisan #2", "type": "main", "index": 0}]]
    },
    "Find Artisan #2": {
      "main": [[{"node": "Artisan #2 Found?", "type": "main", "index": 0}]]
    },
    "Artisan #2 Found?": {
      "main": [
        [],
        [{"node": "No Artisans Available", "type": "main", "index": 0}]
      ]
    },
    "No Artisans Available": {
      "main": [[{"node": "Mark Unassigned", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Paris",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "2",
  "meta": {
    "instanceId": "plombier-urgent",
    "notes": "PRODUCTION: URLs hardcodees vers https://plombier-urgent.vercel.app"
  },
  "tags": [{"name": "PlombierUrgent"}]
}
